@page
@model ConfirmRemoveUserModel
@{
    ViewData["Title"] = "User Removed";
}

<div class="text-center">
    <h1 class="display-4">User has been deleted sucefully.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
