@page "/{username}"
@model UserPosts

@{
}

<h2>Posty użytkownika @Model.Username</h2>

@if (Model.Posts.Count == 0)
{
    <p>Brak postów.</p>
}
else
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <p>@post.Title</p>
                <p>@post.Content</p>
            </li>
        }
    </ul>
}