@page
@model NewPostModel

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="display-4">Add New BlogPost</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" asp-for="NewPost!.Title"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Short Description</label>
            <input type="text" class="form-control" id="=description" asp-for="NewPost!.Description"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" id="content" asp-for="NewPost!.RawContent"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Featured image upload</label>
            <input type="file" id="featuredImageUpload" name="featuredImage" class="form-control"/>
        </div>

        <div class="mb-3">
            <img id="featuredImagePreview" alt="Featured Image Preview" style="max-width: 100%;"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Custom URL</label>
            <input type="text" class="form-control" id="=featuredImageURL" asp-for="NewPost!.CustomUrl"/>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" checked="checked" type="checkbox" id="=isVisible" asp-for="NewPost!.Visible"/>
            <label class="form-check-label">Set as visible</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-select" multiple aria-label="multiple select example" asp-for="NewPost!.Tags">
                @if (Model.AvailableTags != null)
                {
                    foreach (var tag in Model.AvailableTags)
                    {
                        <option value="@tag.Id">@tag.DisplayName</option>
                    }
                }
                else
                {
                    <option value="0">No tags found</option>
                }

            </select>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>

    </form>
</div>

@section Scripts
{
    <script>
        var editor = new FroalaEditor('#content', {
            height: 300,
            imageUploadURL: '/Admin/UploadImage',
            
        })
        
        $('.selector')
          .froalaEditor()
          .on('froalaEditor.image.uploaded', function (e, editor, response) {
            // Parse response to get image url.
            var img_url = "https://m.natemat.pl/8aa8fd7ef24eec182136b63bbd9985ec,0,0,0,0.jpg";
        
            // Insert image.
            editor.image.insert(img_url, false, null, editor.image.get(), response);
        
            return false;
          });
        
        /*document.getElementById('featuredImageUpload').addEventListener('change', function () {
            var input = this;
            var imgPreview = document.getElementById('featuredImagePreview');
            var imageURLInput = document.getElementById('featuredImageURL');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
                
                imageURLInput.value = '@ViewData["FeaturedImageURL"]';
            }
        });*/
        
    </script>
}